@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.big-logo {
    display: grid;
    background-image: url(img/bigphoto.png) ;
    background-repeat: no-repeat;
    max-width: 980px;
    height: 536px;
    background-size: auto 100%;
    margin-top: 40px;
}

.pick {
    max-width: 320px;
}

.box {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 105px;
    margin-bottom: 160px;
    margin-left: 50px;
    margin-right: 600px;
}

.box1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 79px;
    grid-template-rows: min-content;
    justify-content: start;
    line-height: 1em;

}

.box11 {
    margin: 0px;
    text-align: left;
    font-family: 'Roboto Slab', ligt;
}

.box2 {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 33px;
    grid-template-rows: min-content;
    margin-top: 0px;
    margin-bottom: 7px;
    line-height: 1.25em;
}

.testbox1 {
    background-color: rgba(255,255,255, .7);
}


.box22 {
    margin: 0px;
    font-family: 'Roboto Slab', ligt;
}

.box33 {
    font-family: 'Roboto Slab', ligt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.keyshop {
    text-decoration: none;
    display: inline-block;
    background: #f0ae00;
    padding: 10px 30px;
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Slab', ligt;
    color: white;
    transition: .2s ease-in-out;
}

.keyshop:hover {
    background: white;
    color: black;
}


.logotype-photo {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 40px;
}

.logo-text {
    font-size: 33px;
    margin-top: 23px;
}

.logo-text1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

.small-logo1 {
    background-image: url(img/small-logoo.webp);
    height: 185px;
    width: 421px;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', ligt;
}

.small-logo1 p {
    margin: 0%;
}

.small-logo2 {
    background-image: url(img/background-fon.webp);
    height: 185px;
    width: 531px;
}

.logo-border {
    text-align: center;
    vertical-align: middle;
}
