@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@541&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@370&display=swap'); :root {
    --main-color: #f0ae00;
    --main-dark-color: #000000;
    --main-light-color: #FFFFFF;
}

html {
    margin: auto;
    max-width: 980px;
}

div {
    outline-color: transparent;
}

img {
    outline-color: transparent;
}

a {
    outline-color: transparent;
}

h1 {
    font-size: 37px;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin: 0;
}

.header {
    font-family: 'Roboto Slab', ligt;
    line-height: normal;
}

.test-grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 1fr 1fr;
    padding: 0 30px;
}

.grid1 {
    grid-row: 1 / 3;
    margin-top: 12px;
    align-content: center;
}

.grid2 {
    display: flex;
    justify-content: flex-start;
}

.grid3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.header-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.key {
    padding: 0 30px;
    line-height: 5em;
}

.grid1 img {
    width: 69px;
    height: 61px;
}

.flex-test {
    display: flex;
    justify-content: space-between;
    color: white ;
    background-color: black;
    align-items: center;
    padding: 0 10px;
    line-height: 22px;
}

.grid5-opp a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    font-variant: normal;
}

.grid5-opp a:hover {
    color: silver;
}

.flex-test p {
    margin: 10px;
    width: 256px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 19px;
    pointer-events: none;
}

.big-logo img {
    width: 100%;
}

.mag {
    color: #f0ae00;
}

.big-logo {
    display: grid;
    background-image: url(img/bigphoto.png) ;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 536px;
    background-size: 100%;
    margin-top: 40px;
}

.pick {
    max-width: 320px;
}

.box {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 105px;
    margin-bottom: 160px;
    margin-left: 50px;
    margin-right: 600px;
}

.box1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 79px;
    grid-template-rows: min-content;
    justify-content: start;
    line-height: 1em;
}

.box11 {
    margin: 0px;
    text-align: left;
    font-family: 'Roboto Slab', ligt;
}

.box2 {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 33px;
    grid-template-rows: min-content;
    margin-top: 0px;
    margin-bottom: 7px;
    line-height: 1.25em;
}

.testbox1 {
    background-color: rgba(255,255,255, .7);
}

.box22 {
    margin: 0px;
    font-family: 'Roboto Slab', ligt;
}

.box33 {
    font-family: 'Roboto Slab', ligt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.keyshop {
    text-decoration: none;
    display: inline-block;
    background: #f0ae00;
    padding: 10px 30px;
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Slab', ligt;
    color: white;
    transition: .2s ease-in-out;
}

.keyshop:hover {
    background: white;
    color: black;
}

.logotype-photo {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 40px;
}

.logo-text {
    font-size: 33px;
    margin-top: 23px;
}

.logo-text1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    font-weight: 541;
}

.small-logo1 {
    background-image: url(img/small-logoo.webp);
    height: 185px;
    width: 421px;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', ligt;
}

.small-logo1 p {
    margin: 0%;
}

.small-logo2 {
    display: flex;
    background-image: url(img/background-fon.webp);
    height: 185px;
    width: 531px;
    align-items: center;
    justify-content: space-around;
}

.small-logo2 img {
    margin-bottom: 40px;
}

.text-for-2logo {
    font-size: 22px;
    text-align: center;
    margin-right: 10px;
    border-color: white;
    border-style: solid;
}

.font-logo2 {
    font-size: 33px;
    color: white;
    margin: 0;
    font-family: 'Roboto Slab', bold;
    font-weight: 700;
}

.bold-font-logo2 {
    font-family: 'Roboto Slab', bold;
    margin-bottom: 0px;
    font-weight: 370;
    padding-right: 15px;
    line-height: 1.25em;
}

.deliver-info {
    text-align: center;
    margin-top: 5px;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-size: 21px;
    font-family: 'Roboto Slab', bold;
}

.deliver-info p {
    padding: 7px;
}

.footer-bloc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ft ft ft";
    background-color: black;
    color: white;
    text-decoration: none;
}

.footer-bloc1 {
    font-size: 15px;
    text-align: start;
    margin-top: 30px;
    margin-left: 34px;
}

.text-footer-block {
    font-size: 13px;
    font-family: 'Roboto Slab', ligt;
}

.footer-bloc1 a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', ligt;
    font-size: 13px;
}

.footer-bloc2 {
    margin: 32px 0px 18px 0;
    padding-left: 40px;
}

.text-foter-none a {
    text-decoration: none;
    color: #f0ae00;
    font-size: 17px;
    font-family: 'Roboto Slab', ligt;
}

.footer-bloc3 {
    margin: 32px 0px 21px 100px;
    padding-left: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.logo-footer img {
    width: 41px;
    height: 26px;
    margin-right: 10px;
}

.footer-text-big {
    text-align: start;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: 'Roboto Slab', ligt;
}

.social-icon {
    background-color: black;
    display: flex;
    padding-left: 34px;
}

.social-icon img {
    height: 32px;
    width: 32px;
}

.digital-cameras {
    max-width: 980px;
}

.digital-cameras img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.digital-cameras form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.digital-cameras form p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.slick-slide button {
    background: var(--main-color);
    color: black;
    border: none;
    position: relative;
    height: 60px;
    font-size: 0.9em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    width: 200px;
    font-family: 'Roboto Slab', bold;
    ; }

.slick-slide button:hover {
    background: #fff;
    color: var(--main-color);
}

.slick-slide button:before,.slick-slide button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--main-color);
    transition: 400ms ease all;
}

.slick-slide button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.slick-slide button:hover:before,.slick-slide button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.button-buy {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em ;
    font-family: 'Roboto Slab', bold;
}

.button-buy button {
    height: 30px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    width: auto;
    border-radius: 5px;
    color: var(--main-light-color);
    background: var(--main-color);
}

.button-buy button:hover {
    background: var(--main-dark-color);
    color: var(--main-color);
}

.photo-shop-title {
    text-align: center;
    font-size: 33px;
    font-family: 'Roboto Slab', bold;
    letter-spacing: 0.1em;
}