html {
    margin: auto;
    max-width: 980px;
}

.mainlogo {
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-items: stretch;
}

.mainlogo img {
    width: 69px;
    height: 61px;
}